@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --dark: #1D1D1B;
    --second: #fff;
    --gold: #FFAB00;
    --gris: #ADACA2;
}
.text-navbar {
    font-family: 'Poppins' sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--gris) !important;
}

.text-primary {
    color: var(--gold) !important;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
}

.text-secundary {
    color: var(--gold) !important;
    font-family: 'PT Serif', serif;
    font-size: 60px;
}

.parrafo {
    color: var(--second) !important;
    font-family: 'Poppins' sans-serif;
    font-size: 25px;
}


.btn-primary {
    background-color: transparent;
    border-color: var(--gold) !important;
    border-width: 2px;
    border-radius: 10px;
    letter-spacing: 2px;
}
.btn-primary:hover {
    background-color: var(--gold) !important;
    color: var(--dark) !important;
    size: 10px;
}


.background {
    background: url(./img/cover2.jpg)no-repeat;
    background-size: cover;
    height: 1080px;
    position: relative;
    top: -320px;
}